/*Defaults*/
body {
    background-color: #000;
}

h1 {
    color: #fff;
    font-size: 20px;
    font-family: "Verdana";
}

p {
	color: #fff;
	font-size: 12px;
    font-family: "Verdana";    
}

a {
	color: #fff;
	font-size: 12px;
    font-family: "Verdana";   
}
/*Navigation*/
.topNav {
		display:block; float:left;	
}

    .topNav li {
        display: inline-block;
    }

    /*  Hide mobile menu items */
        li.genre:nth-of-type(11),
          .genre:nth-of-type(12),
          .genre:nth-of-type(13),
          .genre:nth-of-type(14),
          .genre:nth-of-type(15){
            display: none;
        }

/* Mobile layout adjustments */
@media only screen and (max-width : 640px) {
    /* Defaults */

    h1 {
        color: #fff;
        font-size: 1.2em;
    }

    p {
        font-size: 0.8em;  
    }

    a {
        font-size: 0.8em;  
    }

    /* New navigation */
    .topNav {
        display: block;
        position: absolute; 
        top: 0;
        height: 2em;
        width: 100%; 
    }

        /* Hide Desktop menu items */
        li.genre:nth-of-type(1),
          .genre:nth-of-type(2),
          .genre:nth-of-type(3),
          .genre:nth-of-type(4),
          .genre:nth-of-type(5),
          .genre:nth-of-type(6),
          .genre:nth-of-type(7),
          .genre:nth-of-type(8),
          .genre:nth-of-type(9){
            display: none;
        }
        
        /*  Display mobile menu items */
        li.genre:nth-of-type(11),
          .genre:nth-of-type(12),
          .genre:nth-of-type(13),
          .genre:nth-of-type(14),
          .genre:nth-of-type(15){
            display: inline-block;
        }

}
